<div class="ligne">
    <p>Top products</p>
    <img src="assets/tailor.png" alt="">
</div>

<section class="cards d-flex flex-row justify-content-around align-items-center">
    <mat-card class="d-flex flex-column justify-content-between"  *ngFor="let product of products">
        <mat-card-header class="d-flex flex-column justify-content-center align-items-center">
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-image d-flex justify-content-center align-items-center">
                <img [src]="product.picture" alt="{{ product.name }}" class="w-100">
            </div>
            <div class="contents d-flex flex-row justify-content-around">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Rating</i>
                    <p>{{ product.rating }}</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Comfort</i>
                    <p>Style</p>
                </div>
                <img src="assets/star.png" alt="">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Diverse</i>
                    <p>Fabrics</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Sales</i>
                    <p> {{ product.sales }} </p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="w-100">
            <div
                class="footer-buttons d-flex flex-row justify-content-center align-content-center align-items-center text-center  w-100 h-100">
                <div
                    class="left-icons d-flex flex-row justify-content-start align-items-center align-content-center gap-3 px-4 h-100 w-25">
                    <i class="pi pi-heart adore-icon" title="Adore"></i>
                    <i class="pi pi-bookmark wishlist-icon" title="Add to Wishlist"></i>
                </div>
                <div
                    class="right-buttons d-flex flex-row justify-content-end align-items-center align-content-center gap-2 px-3 h-100 w-75">
                    <button class="cart-button d-flex justify-content-center align-items-center align-content-center"
                        data-title="Add to Cart">
                        <i class="pi pi-shopping-cart"></i>
                    </button>
                    <button
                        class="customize-button d-flex justify-content-center align-items-center align-content-center"
                        data-title="Customize">
                        <i class="pi pi-pencil"></i>
                    </button>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</section>