<footer>
    <div class="up d-flex flex-row justify-content-around align-content-center align-items-center w-100">
        <div class="right w-25 d-flex flex-column justify-content-around align-content-center align-items-center">
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link text-center">New arrivales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center">Collections</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-center">Best Sellers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center">Tailors</a>
                </li>
            </ul>
        </div>
        <div class="middle d-flex flex-column justify-content-center align-content-center align-items-center w-25">
            <img src="assets/logo-white.png" alt="" class="w-75">
            <p>+212 6 10 44 60 80</p>
            <p>Yassineoularbi4&#64;gmail.com</p>
            <p>Khénifra - El Kbab | Allal ben Abdellah</p>
            <p>54000 - MOROCCO</p>

        </div>
        <div class="left d-flex justify-content-center align-content-center align-items-center w-25 h-100 my-5">
            <iframe
                src="https://maps.google.com/maps?q=32.741271,-5.519288&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                width="300" height="300"></iframe>
        </div>
    </div>
    <div class="down d-flex justify-content-center align-content-center align-items-center">
        <p> &#169; Copyright, All right reserved - 2024</p>
    </div>
</footer>