<div class="ligne">
    <div class="circle rounded-circle d-flex justify-content-center align-items-center">
        <p>Tailoring</p>
    </div>
</div>

<section id="tailoring"
    class="tailoring d-flex flex-column justify-content-around align-content-center align-content-center w-100 h-100">
    <div
        class="measurements d-flex flex-row justify-content-between align-content-center align-items-center w-100 h-100">
        <img src="assets/measurement.png" alt="" class="w-50 h-100" height="50">
        <div class="content w-50 h-100 px-5 d-flex flex-column justify-content-between">
            <h1>Customize Your Virtual Tailor™</h1>
            <p>Start with your unique measurements and watch as your personalized 3D Tailor™ comes to life. Our
                innovative tool allows you to create a precise, true-to-life model that reflects your exact figure,
                height, and body shape. With your custom 3D Tailor™, you can effortlessly design and adjust an endless
                array of traditional Moroccan garments with perfect fit and precision in just seconds, transforming your
                tailoring experience.</p>
            <span>'This platform has revolutionized the way I experience traditional Moroccan clothing. Crafting my
                custom Caftan was effortless, and the result was a stunning piece that fit me perfectly and made me feel
                truly special.'</span>
        </div>
    </div>
    <div class="customizations d-flex flex-row justify-content-between align-content-center align-items-center w-100 h-100">
        <div class="content w-50 h-100 px-5 d-flex flex-column justify-content-between">
            <h1>Personalize Every Detail™</h1>
            <p>Unleash your creativity by customizing every aspect of your traditional Moroccan attire. From selecting the perfect belt to choosing exquisite accessories, our platform allows you to tailor each element to your exact preferences. With just a few clicks, you can mix and match designs, fabrics, and embellishments, creating a one-of-a-kind look that reflects your unique style and personality.</p>
            <span>'This platform has completely changed how I personalize my traditional Moroccan attire. Customizing every detail, from the belts to the accessories, was effortless, resulting in a truly unique piece that perfectly reflected my style and made me feel extraordinary.'</span>
        </div>
        <img src="assets/customization.png" alt="" class="w-50 h-100" height="50">
    </div>
</section>