<section class="forgot-password w-100 d-flex flex-row justify-content-between align-items-center align-content-center">
    <div class="left w-50 d-flex justify-content-center align-items-center">
        <img class="w-75" src="assets/signin-bg.png" alt="sign bg">
    </div>

    <div class="right w-50 py-3 px-5 mx-5 d-flex flex-column justify-content-around">
        <div class="header d-flex flex-column w-100">
            <h1>You forgot password ?</h1>
            <p>Enter your email to reset your password</p>
        </div>

        <div class="forgot-password-container w-100 mt-4">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2">
                <div class="w-100 mb-4 form-group">
                    <label [ngClass]="{'is-invalid': submitted && f['email'].invalid}" class="my-2"
                        for="email">Email</label>
                    <div class="input-icon-wrapper">
                        <i [ngClass]="
                            submitted && f['email'].invalid
                                ? 'pi pi-envelope is-invalid icon-left-envelope'
                                : (loading || f['email'].value.trim() !== '' ? 'pi pi-spin pi-spinner icon-left-spin' : 'pi pi-envelope icon-left-envelope')
                        "></i>
                        <input pInputText id="email" formControlName="email" aria-describedby="email-help"
                            [ngClass]="{'is-invalid': submitted && f['email'].errors}" />
                    </div>
                    <small [ngClass]="{'is-invalid': submitted && f['email'].invalid}" id="email-help"
                        class="form-text text-muted">
                        Enter your email to reset your password
                    </small>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <small *ngIf="f['email'].errors['required']">Email is required.</small>
                        <small *ngIf="f['email'].errors['email']">Email is invalid.</small>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center my-3 w-100">
                    <button pButton type="submit" label="Reset password" class="w-100" [disabled]="loading">
                    </button>
                </div>

                <div *ngIf="error" class="alert alert-danger">
                    {{ error }}
                </div>
                <div *ngIf="success" class="alert alert-success">
                    {{ success }}
                </div>
            </form>
        </div>
    </div>
</section>