:host {
    display: block;
    width: 100%;
    font-family: "Inter";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 30px;
}

.forgot-password {
    .right {
        .header {
            gap: 10px;

            h1 {
                padding: 0;
                margin: 0;
                font-family: "Inter";
                font-size: 30px;
                font-weight: bold;
                color: var(--black);
            }

            p {
                padding: 0;
                margin: 0;
                font-family: "Inter";
                font-size: 15px;
                font-weight: 500;
                color: var(--black);
            }
        }

        .forgot-password-container {
            form {
                .form-group {
                    label {
                        font-family: "Inter";
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--black);
                    }


                    .input-icon-wrapper {
                        position: relative;
                        display: inline-block;
                        width: 100%;

                        input {
                            width: 100%;
                            padding: 0.5rem 2.5rem 0.5rem 2.5rem;
                            border: 1px solid var(--black);
                            border-radius: 10px;
                            font-family: "Inter";
                            font-size: 14px;
                            font-weight: 400;
                        }

                        input::placeholder {
                            color: black;
                        }

                        input.is-invalid::placeholder {
                            color: red;
                        }

                        .icon-left-spin {
                            position: absolute;
                            top: 30%;
                            transform: translateY(-50%);
                            color: var(--black);
                        }

                        .icon-left-envelope {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            color: var(--black);
                        }

                        .icon-left-envelope, .icon-left-spin {
                            left: 0.75rem;
                        }

                        .is-invalid {
                            color: red !important;
                            border-color: red;
                        }
                    }

                    .is-invalid {
                        color: red !important;
                        border-color: red;
                    }

                    small {
                        color: red;
                        font-family: "Inter";
                        font-size: 10px;
                        font-weight: bold;
                    }
                }

                button {
                    background-color: var(--white);
                    border-radius: 10px;
                    border: 1px solid var(--black);
                    color: var(--black);
                    font-family: "Inter";
                    font-size: 15px;
                    font-weight: bold;
                    transition: background-color 0.3s ease, color 0.3s ease;
                    cursor: pointer;
                    outline: none;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }

                    &:hover {
                        background-color: var(--black) !important;
                        color: var(--white);
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .forgot-password {
        .left {
            display: none !important;
        }

        .right {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;

            h1 {
                font-size: 25px !important;
            }
        }

    }
}