<section class="forgot-password w-100 d-flex flex-row justify-content-between align-items-center align-content-center">
    <div class="left w-50 d-flex justify-content-center align-items-center">
        <img class="w-75" src="assets/signin-bg.png" alt="sign bg">
    </div>

    <div class="right w-50 py-3 px-5 mx-5 d-flex flex-column justify-content-around">
        <div class="header d-flex flex-column w-100">
            <h1 *ngIf="step === 1">You forgot password?</h1>
            <h1 *ngIf="step === 2">Authenticate Your Account</h1>
            <h1 *ngIf="step === 3">Reset Your Password</h1>
            <p *ngIf="step === 1">Enter your email to reset your password</p>
            <p *ngIf="step === 2" class="text-color-secondary block mb-5">Please enter the code sent to your email.</p>
            <p *ngIf="step === 3" class="text-color-secondary block mb-5">Please enter your new password.</p>
        </div>

        <div class="forgot-password-container w-100 mt-4">
            <form *ngIf="step === 1" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()" class="d-flex flex-column gap-2">
                <div class="w-100 mb-4 form-group">
                    <label [ngClass]="{'is-invalid': submitted && f.email.invalid}" class="my-2" for="email">Email</label>
                    <div class="input-icon-wrapper">
                        <i [ngClass]="
                            submitted && f.email.invalid
                                ? 'pi pi-envelope is-invalid icon-left-envelope'
                                : (loading || f.email.value.trim() !== '' ? 'pi pi-spin pi-spinner icon-left-spin' : 'pi pi-envelope icon-left-envelope')
                        "></i>
                        <input pInputText id="email" formControlName="email" aria-describedby="email-help"
                            [ngClass]="{'is-invalid': submitted && f.email.errors}" (input)="onInput()" />
                    </div>
                    <small [ngClass]="{'is-invalid': submitted && f.email.invalid}" id="email-help"
                        class="form-text text-muted">
                        Enter your email to reset your password
                    </small>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <small *ngIf="f.email.errors['required']">Email is required.</small>
                        <small *ngIf="f.email.errors['email']">Email is invalid.</small>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center my-3 w-100">
                    <button pButton type="submit" label="Reset password" class="w-100" [disabled]="loading">
                    </button>
                </div>

                <div *ngIf="error" class="alert alert-danger">
                    {{ error }}
                </div>
                <div *ngIf="success" class="alert alert-success">
                    {{ success }}
                </div>
            </form>

            <!-- Formulaire de Vérification de Code (Étape 2) -->
            <form *ngIf="step === 2" [formGroup]="verifyCodeForm" (ngSubmit)="onSubmitVerifyCode()" class="d-flex flex-column gap-2">
                <div class="flex flex-column align-items-center">
                    <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
                    <p class="text-color-secondary block mb-5">Please enter the code sent to your email.</p>
                    <p-inputOtp formControlName="verificationCode" [length]="6" style="gap: 0">
                        <ng-template pTemplate="input" let-token let-events="events" let-index="index" class="d-flex flex-row justify-content-between">
                            <input 
                                pInputText
                                type="text" 
                                [maxLength]="1" 
                                (input)="events.input($event)" 
                                (keydown)="events.keydown($event)" 
                                [attr.value]="token" 
                                class="custom-otp-input" />
                            <div *ngIf="index === 3" class="px-3">
                                <i class="pi pi-minus"></i>
                            </div>
                        </ng-template>
                    </p-inputOtp>
                    <div *ngIf="verifySubmitted && v.verificationCode.errors" class="invalid-feedback">
                        <small *ngIf="v.verificationCode.errors['required']">Verification code is required.</small>
                        <small *ngIf="v.verificationCode.errors['minlength']">Verification code must be 6 digits.</small>
                        <small *ngIf="v.verificationCode.errors['maxlength']">Verification code must be 6 digits.</small>
                    </div>
                </div>

                <div class="w-100 flex flex-column justify-content-between mt-5 align-self-stretch">
                    <button pButton type="submit" label="Submit Code" [disabled]="verifyLoading" class="w-100"></button>
                    <button pButton type="button" label="Resend Code" (click)="onResendCode()" [disabled]="resendLoading" class="w-100 resend-code"></button>
                </div>

                <div *ngIf="verifyError" class="alert alert-danger">
                    {{ verifyError }}
                </div>
                <div *ngIf="verifySuccess" class="alert alert-success">
                    {{ verifySuccess }}
                </div>
            </form>

            <form *ngIf="step === 3" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" class="d-flex flex-column gap-2">
                <div class="w-100 mb-4 form-group">
                    <label [ngClass]="{'is-invalid': resetSubmitted && r.newPassword.invalid}" class="my-2" for="newPassword">New Password</label>
                    <div class="input-icon-wrapper">
                        <i class="pi pi-lock icon-left-envelope"></i>
                        <input pInputText id="newPassword" formControlName="newPassword" aria-describedby="newPassword-help"
                            [ngClass]="{'is-invalid': resetSubmitted && r.newPassword.errors}" type="password" />
                    </div>
                    <small [ngClass]="{'is-invalid': resetSubmitted && r.newPassword.invalid}" id="newPassword-help"
                        class="form-text text-muted">
                        Enter your new password.
                    </small>
                    <div *ngIf="resetSubmitted && r.newPassword.errors" class="invalid-feedback">
                        <small *ngIf="r.newPassword.errors['required']">New password is required.</small>
                        <small *ngIf="r.newPassword.errors['minlength']">Password must be at least 6 characters.</small>
                    </div>
                </div>

                <div class="w-100 mb-4 form-group">
                    <label [ngClass]="{'is-invalid': resetSubmitted && (r.confirmPassword.invalid || resetPasswordForm.errors?.['passwordsMismatch'])}" class="my-2" for="confirmPassword">Confirm Password</label>
                    <div class="input-icon-wrapper">
                        <i class="pi pi-lock icon-left-envelope"></i>
                        <input pInputText id="confirmPassword" formControlName="confirmPassword" aria-describedby="confirmPassword-help"
                            [ngClass]="{'is-invalid': resetSubmitted && (r.confirmPassword.invalid || resetPasswordForm.errors?.['passwordsMismatch'])}" type="password" />
                    </div>
                    <small [ngClass]="{'is-invalid': resetSubmitted && (r.confirmPassword.invalid || resetPasswordForm.errors?.['passwordsMismatch'])}" id="confirmPassword-help"
                        class="form-text text-muted">
                        Confirm your new password.
                    </small>
                    <div *ngIf="resetSubmitted && (r.confirmPassword.errors || resetPasswordForm.errors?.['passwordsMismatch'])" class="invalid-feedback">
                        <small *ngIf="r.confirmPassword.errors?.['required']">Confirm password is required.</small>
                        <small *ngIf="resetPasswordForm.errors?.['passwordsMismatch']">Passwords do not match.</small>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center my-3 w-100">
                    <button pButton type="submit" label="Reset Password" class="w-100" [disabled]="resetLoading">
                    </button>
                </div>

                <div *ngIf="resetError" class="alert alert-danger">
                    {{ resetError }}
                </div>
                <div *ngIf="resetSuccess" class="alert alert-success">
                    {{ resetSuccess }}
                </div>
            </form>
        </div>
    </div>
</section>
