<main class="px-5 py-2 d-flex flex-row justify-content-between">
    <div class="container-fluid hero-section row">
        <div class="col-md-11 d-flex align-items-center">
            <div class="hero-content col-md-11">
                <div class="get-in-touch col-md-2 h-100 p-2 d-flex flex-row justify-content-around align-items-center" (click)="scrollToSection('services')">
                    <a>Get in touch</a>
                    <mat-icon>arrow_forward</mat-icon>
                </div>
                <h2>Tailoring</h2>
                <h1>At Its Best</h1>
            </div>
        </div>
        <div class="w-100">
            <img src="assets/main-hero-bg-1.png" alt="Tailor Image" class="img-fluid hero-image">
        </div>
    </div>

    <div class="container-fluid cards-section">
        <div class="row d-flex flex-column w-100 h-100 d-flex flex-column justify-content-between">
            <div class="card w-100">
                <div class="w-100">
                    <img src="assets/main-hero-bg-2.png" alt="Tailor Image" class="img-fluid hero-image">
                </div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title (click)="scrollToSection('subscription')">Custom Alterations</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Every stitch tells your story.</p>
                        <span> Perfection in every thread,</span>
                        <div>tradition in every design.</div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="accent">Customize</button>
                    </mat-card-actions>
                </mat-card>
                <div class="get-in-touch" (click)="scrollToSection('subscription')">
                    <mat-icon class="d-flex justify-content-center align-items-center">arrow_forward</mat-icon>
                </div>
            </div>
            <div class="card w-100">
                <div class="w-100">
                    <img src="assets/main-hero-bg-3.png" alt="Tailor Image" class="img-fluid hero-image">
                </div>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title (click)="scrollToSection('subscription')">Custom Tailoring</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Every stitch is perfect,</p>
                        <span>and everyone will notice.</span>
                        <div>Custom tailoring is different.</div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="accent">Learn More</button>
                    </mat-card-actions>
                </mat-card>
                <div class="get-in-touch" (click)="scrollToSection('subscription')">
                    <mat-icon class="d-flex justify-content-center align-items-center">arrow_forward</mat-icon>
                </div>
            </div>
        </div>
    </div>
</main>