<div class="ligne">
    <div class="circle rounded-circle d-flex justify-content-center align-items-center">
        <p>About Us</p>
    </div>
</div>

<section
    class="about-us d-flex flex-column justify-content-between align-content-center align-items-center p-5 w-100 mt-5">
    <img src="assets/about-bg-1.png" alt="" class="img-1 w-100">
    <div class="content d-flex flex-row justify-content-around align-content-center align-items-center w-100">
        <p class="w-50">“Welcome to <strong>VINCENT</strong>, where tradition meets innovation. We are passionate about
            preserving the rich heritage of Moroccan clothing while embracing the future of fashion. Our platform
            connects skilled <strong>Moroccan</strong> tailors with fashion lovers around the world, offering a unique
            blend of
            authenticity and modernity.”</p>
        <img src="assets/about-bg-2.png" alt class="w-25">
    </div>
    <div class="content content-2 d-flex flex-row justify-content-around align-content-center align-items-center w-100">
        <img src="assets/about-bg-3.png" alt class="w-25">
        <div class="d-flex flex-column justify-content-between align-content-center align-items-center w-50 h-100">
            <p>“At <strong>VINCENT</strong>, we believe in the art of customization. Our tailors bring their
                craftsmanship to life through detailed 3D models, allowing customers to personalize every aspect of their
                garments, from fabric selection to intricate embroidery. Our mission is to make traditional Moroccan fashion
                accessible, personalized, and unforgettable.”</p>
            <span>Join us on this journey to celebrate the beauty of <strong>Moroccan culture</strong>, where every piece tells a story and every design is a work of art.</span>
        </div>
    </div>
</section>