<nav class="navbar-custom">
    <div class="nav-left">
      <button class="nav-icon-button d-flex justify-content-start align-content-center align-items-center w-50 gap-2" aria-label="Back">
        <i class="pi pi-arrow-left"></i>
        <span>Back</span>
      </button>
      <button class="nav-icon-button d-flex justify-content-start align-content-center align-items-center w-50 gap-2" aria-label="Back">
        <img class="profile-pic" src="assets/user.png" alt="User Profile" />
        <i class="pi pi-align-left"></i>
      </button>
    </div>
  
    <div class="nav-center">
      <img src="assets/logo-white.png" alt="Logo" class="nav-logo" />
    </div>
  
    <div class="nav-right d-flex justify-content-end align-content-center align-items-center gap-2">
      <div class="price-tag">
        23,000.00€
      </div>
      <button class="confirm-button">
        Confirm
      </button>
    </div>
  </nav>
  