<div class="ligne">
    <div class="circle rounded-circle d-flex justify-content-center align-items-center">
        <p>Services</p>
    </div>
</div>

<section id="services"
    class="services w-100 h-100 d-flex flex-column justify-content-between align-content-center align-items-center">
    <h1>Effortless Customization of Traditional Moroccan Fashion</h1>
    <div
        class="service-cards w-100 h-100 d-flex flex-row justify-content-around align-items-center align-content-center">
        <div
            class="mt-5 card w-25 d-flex flex-column justify-content-center align-content-center align-items-center border-0">
            <img src="assets/service-1.png" alt="Service 1" class="w-75 border-0">
            <h3 class="text-center">Tailor Product Showcase
                with 3D Models</h3>
            <p class="text-center">Tailors can easily upload and showcase their custom traditional Moroccan garments
                using our 3D modeling
                tool. This feature allows them to present their designs in a detailed, interactive format, making it
                easier for customers to visualize and select their perfect attire.</p>
        </div>
        <div
            class="mt-5 card w-25 d-flex flex-column justify-content-center align-content-center align-items-center border-0">
            <img src="assets/service-2.png" alt="Service 1" class="w-75 border-0">
            <h3 class="text-center">Customizable 3D Shopping
                Experience for Customers</h3>
            <p class="text-center">Customers can explore and personalize their chosen garments in 3D. From selecting
                fabrics to adjusting accessories, our platform lets customers fully customize their purchase, ensuring a
                perfect fit and style that reflects their unique taste.</p>
        </div>
        <div
            class="mt-5 card w-25 d-flex flex-column justify-content-center align-content-center align-items-center border-0">
            <img src="assets/service-3.png" alt="Service 1" class="w-75 border-0">
            <h3 class="text-center">Tailor-Client Interactive
                Collaboration</h3>
            <p class="text-center">Create a seamless collaboration between tailors and clients. Clients can communicate
                directly with tailors, sharing their preferences and receiving expert advice. Tailors can then customize
                the garments to meet the client’s specifications, ensuring a truly bespoke shopping experience.</p>
        </div>
    </div>
    <div id="subscription" class="subscriptions w-100 d-flex flex-row justify-content-center align-content-center align-items-center">
        <div class="subscription">
            <mat-card class="w-100 h-100">
                <mat-card-header class="d-flex justify-content-start align-items-center align-content-center w-100">
                    <mat-card-title
                        class="d-flex flex-row justify-content-center align-items-center align-items-center">
                        <img src="assets/star.png" alt="Star">
                        Customer Plan ->
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Enhance your shopping experience with our customer subscription. Gain early access to new
                        collections, enjoy exclusive discounts, and receive personalized styling advice. Customize your
                        traditional Moroccan garments with our 3D tools and collaborate directly with tailors. Subscribe
                        today to unlock a world of bespoke fashion tailored just for you.</p>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Early access to new collections</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Enjoy exclusive discounts</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Receive personalized styling advice</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Customize your traditional garments </p>
                    </div>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center align-content-center align-items-center p-4">
                    <button>Subscribe</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="subscription">
            <mat-card class="w-100 h-100">
                <mat-card-header class="d-flex justify-content-start align-items-center align-content-center w-100">
                    <mat-card-title
                        class="d-flex flex-row justify-content-center align-items-center align-items-center">
                        <img src="assets/star.png" alt="Star">
                        Tailor Plan ->
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Join our platform to showcase your designs with advanced 3D tools and reach a wider audience.
                        With our tailor subscription, you gain access to premium features that allow you to post
                        unlimited products, collaborate directly with customers, and manage your orders.
                        Elevate your tailoring business and connect with fashion enthusiasts worldwide.</p>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Designs with advanced 3D tools</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Post unlimited products</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Collaborate directly with customers</p>
                    </div>
                    <div
                        class="content d-flex flex-row justify-content-start align-content-center align-items-center px-5">
                        <img src="assets/button.png" alt="">
                        <p>Manage your orders effortlessly</p>
                    </div>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center align-content-center align-items-center p-4">
                    <button>Subscribe</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>