<div class="ligne">
    <div class="circle rounded-circle d-flex justify-content-center align-items-center">
        <p>Collections</p>
    </div>
</div>

<section class="cards d-flex flex-row justify-content-around align-items-center">
    <mat-card>
        <mat-card-header class="d-flex flex-column justify-content-center align-items-center">
            <mat-card-title class="text-center">Elegant</mat-card-title>
            <mat-card-subtitle>TAKCHITAS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-image d-flex justify-content-center align-items-center">
                <img src="assets/card-1.png" alt="">
            </div>
            <div class="contents d-flex flex-row justify-content-around">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Modern</i>
                    <p>Traditional</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Comfort</i>
                    <p>Style</p>
                </div>
                <img src="assets/star.png" alt="">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Diverse</i>
                    <p>Fabrics</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>High</i>
                    <p>Quality</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-center align-content-center align-items-center text-center">
            Step into elegance with our beautifully crafted Takchitas, perfect for any special occasion.
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-header class="d-flex flex-column justify-content-center align-items-center">
            <mat-card-title class="text-center">Exquisite</mat-card-title>
            <mat-card-subtitle>CAFTANS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-image d-flex justify-content-center align-items-center">
                <img src="assets/card-2.png" alt="">
            </div>
            <div class="contents d-flex flex-row justify-content-around">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Modern</i>
                    <p>Traditional</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Comfort</i>
                    <p>Style</p>
                </div>
                <img src="assets/star.png" alt="">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Diverse</i>
                    <p>Fabrics</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>High</i>
                    <p>Quality</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-center align-content-center align-items-center text-center">
            Discover the timeless beauty of our Caftans, blending tradition with modern style.
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-header class="d-flex flex-column justify-content-center align-items-center">
            <mat-card-title class="text-center">Traditional</mat-card-title>
            <mat-card-subtitle>DJELLABAS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card-image d-flex justify-content-center align-items-center">
                <img src="assets/card-3.png" alt="">
            </div>
            <div class="contents d-flex flex-row justify-content-around">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Modern</i>
                    <p>Traditional</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Comfort</i>
                    <p>Style</p>
                </div>
                <img src="assets/star.png" alt="">
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>Diverse</i>
                    <p>Fabrics</p>
                </div>
                <div class="content d-flex flex-column justify-content-center align-items-center align-content-center">
                    <i>High</i>
                    <p>Quality</p>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-center align-content-center align-items-center text-center">
            Experience comfort and style with our authentic Djellabas, crafted for every moment.
        </mat-card-footer>
    </mat-card>
</section>